<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <!-- タイトル -->
      <div class="text-center mb-5">
        <div class="title-wrapper">
          <h1 class="display-4 fw-bold title-green">
          ちいさな<span class="text-red">秋</span><span>...?</span>
          </h1>
        </div>
      </div>

      <!-- 入力フォーム -->
      <div class="mb-4">
        <div class="">
          <%= form_with model: @post, url: posts_path, local: true, class: "mb-3" do |f| %>
            <div class="mb-5 cstm-box-paper">
              <%= f.text_area :content, class: "form-control text-center custom-textarea", rows: 3, style: "resize: none; justify-content: center;" %>
                <%= render 'shared/error_messages', object: @post %>
                </div>
            </div>
            
            <!-- 投稿ボタン -->
            <div class="text-center mb-4">
              <%= f.submit "みーつけた", class: "btn btn-deepgreen btn-lg w-50" %>
            </div>
          <% end %>
          
          <!-- 一覧ボタン -->
          <div class="text-center">
            <%= link_to "さがしに行く", posts_path, class: "btn btn-white-outline btn-lg w-50" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
