<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <!-- タイトル -->
      <div class="text-center mb-5">
        <h1 class="display-4 text-primary">ちいさな秋</h1>
      </div>

      <!-- 入力フォーム -->
      <div class="mb-4">
        <div class="">
          <%= form_with model: @post, url: posts_path, local: true, class: "mb-3" do |f| %>
            <div class="mb-5">
              <%= f.text_area :content, class: "form-control", rows: 4, style: "resize: none;" %>
              <% if @post.errors.any? %>
                <div class="text-danger mt-2">
                  <% @post.errors.full_messages.each do |message| %>
                    <small><%= message %></small><br>
                  <% end %>
                </div>
              <% end %>
            </div>
            
            <!-- 投稿ボタン -->
            <div class="text-center mb-5">
              <%= f.submit "みーつけた", class: "btn btn-primary btn-lg w-50" %>
            </div>
          <% end %>
          
          <!-- 一覧ボタン -->
          <div class="text-center">
            <%= link_to "さがしに行く", posts_path, class: "btn btn-outline-secondary btn-lg w-50" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>